body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: plum;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  padding: 20px;
  font-size: 30px;
  border: none;
  text-align: right;
  background-color: linen;
  color: purple;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  padding: 20px;
  font-size: 20px;
  border: 1px solid palevioletred;
  background-color: pink;
  color: darkmagenta;
  cursor: pointer;
}

.equal {
  grid-column: span 3;
  background-color: palevioletred;
  color: aliceblue;
}

.btn:hover {
  opacity: 0.8;
}
